title: Boots to Bytes
email: gjoncay@gmail.com
description: >- # this means to ignore newlines until "baseurl:"
  A zero to hopefully-something-close-to-hero cybersecurity blog focused on learning through homelabs, coding, and all around struggle-bussing my way into the field.
baseurl: "" # the subpath of your site, e.g. /blog
url: "https://gjoncay.github.io" # the base hostname & protocol for your site, e.g. http://example.com
repository: gjoncay/gjoncay.github.io
# twitter:
github: gjoncay

header_image: assets/profile.png

google_analytics:
comments: false
disqus:

author: "Grant Oncay"
author_bio: >-
  Hi! I'm a normal dude slowly working on leaving the greensuiter life and pursuing a career in cybersecurity. Don't hesitate to reach out via email for any questions or feedback!
author_pic: assets/grantprof.jpeg

paginate: 5
paginate_path: "/:num/"

markdown: kramdown

kramdown:
  input: GFM
  syntax_highlighter: rouge

# Build settings
theme: null
plugins:
  - jekyll-feed
  - jekyll-seo-tag
  - jekyll-paginate
permalink: /:title

defaults:
  - scope:
      path: "" # an empty string here means all files in the project
      type: "posts" # previously `post` in Jekyll 2.2.
    values:
      layout: "post"
      author: Grant Oncay
      avatar: assets/profile-sm.png
  - scope:
      path: ""
      type: notes
    values:
      layout: post
      content-type: notes
  - scope:
      path: ""
      type: journals
    values:
      layout: journal-entry
      content-type: journals

# Allows all pages to be put into `_pages` folder
# for easier navigation and better SEO.
collections:
  pages:
    output: true
    permalink: /:title
  notes:
    output: true
    permalink: /notes/:title
  journals:
    output: true
    permalink: /journals/:title

# Exclude from processing.
exclude:
  - ".jekyll-cache"
  - "Gemfile"
  - "Gemfile.lock"
  - sandbox
